{% extends "core/draft/index.html" %}
{% load staticfiles %}

{% block details %}
<a href="http://127.0.0.1:8000/core">MAIN PAGE!</a>
    <h3>Google Maps Demo</h3>
        <div id="map"></div>
            <script>
                var ship_name = '{{ ship.ship }}';
                var url = '{{ ship.url }}';
                var country = '{{ ship.country }}';
                var latitude = {{ ship.coordinates.latitude }};
                var longitude = {{ ship.coordinates.longitude }};
            </script>
                <script src="{% static 'core/js/ship_details_map.js' %}"></script>
                    <h1>{{ ship.ship }}</h1>
                        <h4>{{ ship.country }}</h4>
                            <h3>DETAILS</h3>
                                <p>{{ ship.details.content }}</p>
                                <p>{{ ship.url }}</p>
                                <p>{{ ship.coordinates.latitude }}</p>
                                <p>{{ ship.coordinates.longitude }}</p>
                                    <div>
                                        <p>like</p>
                                    </div>
{% endblock %}