{% extends "core/draft/index.html" %}


{% block search %}
    <form action="" method="get">
        {{ form }}
        <input type="submit" value="Submit" />
    </form>


{% for result in results %}

    <h3>Google Maps Demo</h3>
    <div id="map"></div>
    <script>
          function initMap() {
            var uluru = {lat: {{ result.coordinates.latitude }}, lng: {{ result.coordinates.longitude }}};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 14,
              center: uluru
            });
            var marker = new google.maps.Marker({
              position: uluru,
              map: map
            });

  var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h1 id="firstHeading" class="firstHeading">{{ result.ship }}</h1>'+
      '<div id="bodyContent">'+
      '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
      'Heritage Site.</p>'+
      '<p>Attribution: Uluru, <a href="http://127.0.0.1:8000/core/?query=HMAS+Advance">'+
      'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
      '(last visited June 22, 2009).</p>'+
      '</div>'+
      '</div>';

  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });

  var marker = new google.maps.Marker({
    position: uluru,
    map: map,
    title: 'Uluru (Ayers Rock)'
  });
  marker.addListener('click', function() {
    infowindow.open(map, marker);
  });
}
    </script>
    <a href="{{ result.get_absolute_url }}">{{ result.ship }}</a>
    <p>{{ result.country }}</p>
    <h3>Ship Details:</h3>
    <p>{{ result.details.content }}</p>
    <p>{{ result.coordinates.latitude }}</p>
    <p>{{ result.coordinates.longitude }}</p>

{% endfor %}
{% endblock %}
