{% extends "core/draft/index.html" %}
{% load staticfiles %}

{% block search %}
    <h1>Search for ships</h1>
        <form action="." method="get">
            {{ form }}
            <input type="submit" value="Search">
        </form>
        <a href="{% url 'core:find_me' %}">Find Me!</a>
        <br>
            <script>
                 var locations = [
                    {% for result in results %}
                        {% with ship=result.object %}
                            ['<a href="{{ ship.get_absolute_url }}">{{ ship.ship }}</a>',
                            {{ ship.coordinates.latitude }}, {{ ship.coordinates.longitude }},
                            {{ forloop.counter }}],
                        {% endwith %}
                    {% empty %}
                        <div id="map"></div>
                    {% endfor %}
                    ];
            </script>
                <div id="map"></div>
                {% if "query" in request.GET %}
                    <script src="{% static 'core/js/ship_search_map.js' %}"></script>
                {% else %}
                    <script src="{% static 'core/js/geolocation_map.js' %}"></script>
                {% endif %}
{% endblock %}
