{% extends "core/index.html" %}
{% load staticfiles %}


{% block contact %}
<!-- Header -->
<header class="header" id="top">
  <div class="text-vertical-center">
    <h1>Know Your Ship</h1>
    <h3>Find ships museum all over the world!</h3>
    <br>
    <a href="{% url 'core:ship_search' %}" class="btn btn-dark btn-lg js-scroll-trigger">Find More</a>
    <a href="{% url 'core:contact' %}" class="btn btn-dark btn-lg js-scroll-trigger">Contact Me!</a>
  </div>
</header>

<div class="call-to-action text-white" id="about">
  <div class="container text-center">
	  <h3><b>About</b></h3>
  </div>
</div>
<br>

<div class="container text-center">
    <p>
        You would like to have a place where you could find almost all ships
        Base on list of museum ships you can find
        You probably love ships
      KnowYourShip - responsive web app where you can easily search
      for ships museum around the world.
    </p>
    <p align="justify">
        A museum ship, also called a memorial ship, is a ship that has been preserved
      and converted into a museum open to the public for educational or memorial purposes.
      Some are also used for training and recruitment purposes, mostly for the small number
      of museum ships that are still operational and thus capable of regular movement.
      Several hundred museum ships are kept around the world, with around 175 of them organised
      in the Historic Naval Ships Association though many are not naval museum ships,
      from general merchant ships to tugs and lightships. Many, if not most, museum ships
      are also associated with a maritime museum.
    </p>
</div>



<script>
window.onload = function(){
 $('html, body').animate({
          scrollTop: $("#about").offset().top
        }, 1000, "easeInOutExpo");
};
</script>

{% endblock %}