{% extends "core/index.html" %}
{% load staticfiles %}


{% block contact %}
<!-- Header -->
<header class="header" id="top">
  <div class="text-vertical-center">
    <h1>Know Your Ship</h1>
    <h3>Find ships museum all over the world!</h3>
    <br>
    <a href="{% url 'core:ship_search' %}" class="btn btn-dark btn-lg js-scroll-trigger">Find More</a>
  </div>
</header>

<form action="" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">Submit!</button>
</form>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}