<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Know Your Ship</title>

        <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <script src="https://use.fontawesome.com/828b8a5f91.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{% static "core/css/knowyourship.css" %}" rel="stylesheet">

    <!-- Google Maps -->
     <style>
       #map {
        height: 350px;
        width: 100%;
       }
    </style>
  </head>

  <body>
    <!-- Navigation -->
     {% include "core/navigation.html" %}

    <!-- Header-Search -->
    <header class="header" id="top">
      <div class="text-vertical-center">
        <h1>Know Your Ship</h1>
        <h3>Find ships museum all over the world!</h3>
        <div class="featurette">
           <div class="featurette-inner text-center">
              <form action="" method="get" role="form" class="search has-button">
                <div class="form-group">
                    {{ form }}
                    {% if form == None %}
                    <h3><a href="#about" class="btn-block">Go back and search more!</a></h3>
                    {% else %}
                    <input id="sub" type="submit" value="Search" class="btn btn-lg btn-warning" type="button">
                    {% endif %}
                </div>
                 <!-- /form-group -->
              </form>
              <!-- /.max-width on this form -->
           </div>
           <!-- /.featurette-inner (display:table-cell) -->
        </div>
      </div>

    </header>

    <hr>
    <!-- Map -->
    <section id="contact" class="map">
            <script>
                 var locations = [
                    {% for result in results %}
                        {% with ship=result.object %}
                            ['<a href="{{ ship.get_absolute_url }}#contact">{{ ship.ship }}</a>',
                            {{ ship.coordinates.latitude }}, {{ ship.coordinates.longitude }},
                            {{ forloop.counter }}],
                        {% endwith %}
                    {% empty %}
                        <div id="map"></div>
                    {% endfor %}
                    ];
            </script>
                <div id="map"></div>
                {% if "query" in request.GET %}
                    <script src="{% static 'core/js/ship_search_map.js' %}"></script>
                {% else %}
                    <script src="{% static 'core/js/geolocation_map.js' %}"></script>
                {% endif %}
    </section>

    <!-- About -->
    <!-- About -->
    {% if "query" in request.GET %}
    <section id="about" class="about">
      <div class="container text-center">
        <h2>Select one of the vessels located in the selected country</h2>
          <p class="lead">Simply go to the map and select your ship</p>
      </div>
      <!-- /.container -->
    </section>
    {% endif %}

    <!-- Portfolio -->
    {% block content %}
    {% endblock %}

    <!-- Services -->
    {% include "core/about.html" %}

    <hr>
    <!-- Call to Action -->
    <div class="call-to-action text-white">
      <div class="container text-center">
        <h3>Find out more or contact me!</h3>
        <a href="#" class="btn btn-lg btn-light">About</a>
        <a href="#" class="btn btn-lg btn-dark">Contact</a>
      </div>
    </div>



    <!-- Footer -->
    {% include "core/footer.html" %}

    <!-- Optional JavaScript -->
    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/jquery.easing@1.4.1/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static "core/js/knowyourship.js" %}"></script>

    <script src="{% static 'core/js/autocomplete.js' %}"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAybkt5k4GdqP2FCq2v4svRiY-EzrqJsH0&callback=initMap">
    </script>

    <script>
$("#sub").click(function() {
    $("html, body").animate({ scrollTop: $('#contact').offset().top }, 1000);
});
     </script>
  </body>

</html>