 <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle">
          <i class="fa fa-times"></i>
        </a>
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#top">Know Your Ship</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="#top">Search</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="#about">About</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="{% url 'core:ship_ranking' %}">Ranking</a>
        </li>
        {% url 'core:ship_detail' as ship_url %}
        {% if request.get_full_path == ship_url %}
        <li>
          <a class="js-scroll-trigger" href="#portfolio">Details</a>
        </li>
        {% endif %}
        <li>
          <a class="js-scroll-trigger" href="{% url 'core:contact' %}" onclick=$( "#menu-close").click();>Contact</a>
        </li>
      </ul>
    </nav>