{% extends "core/index.html" %}
{% load staticfiles %}

{% block content %}

<!-- Header -->
<header class="header" id="top">
  <div class="text-vertical-center">
    <h1>Know Your Ship</h1>
    <h3>Find ships museum all over the world!</h3>
    <br>
    <a href="{% url 'core:ship_search' %}" class="btn btn-dark btn-lg js-scroll-trigger">Find More</a>
  </div>
</header>

<hr>

<div id="map"></div>

<section id="portfolio" class="portfolio">
    <script>
        var ship_name = '{{ ship.ship }}';
        var url = '{{ ship.url }}';
        var search = '{{ ship.ship }}%2C{{ ship.city }}';
        var country = '{{ ship.country }}';
        var latitude = {{ ship.coordinates.latitude }};
        var longitude = {{ ship.coordinates.longitude }};
        search = search.replace(/\s+/g, '+');
    </script>

  <script src="{% static 'core/js/ship_details_map.js' %}"></script>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
                <div class="card">
                      <div class="card-body">
                          <img class="img-portfolio img-fluid" src="{{ ship.ship_image.image.url }}">
                          <small class="text-muted">(Author: {{ ship.ship_image.artist }})</small>
                          <small class="text-muted">({{ ship.ship_image.license_short_name }})</small>
                          <small class="text-muted"><a href="{{ ship.ship_image.source_url}}">({{ ship.ship_image.title }})</a></small><br>
                          <small class="text-muted">{{ ship.ship_image.image_description }}</small>
                      </div>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <div class="card">
                      <div class="card-body">
                          <h2>{{ ship.ship }}</h2>
                          <p align="justify">{{ ship.details.content }}</p>
                          <p>{{ ship.ship_image.title }}</p>
                      </div>
                </div>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
          <div class="text-center">
              <div class="card">
                      <div class="card-body">
                          <a href="{{ ship.url }}" class="btn btn-dark">Go to Wikipedia page!</a>
                      </div>
              </div>
          </div>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

{% endblock %}
