{% extends "core/index.html" %}
{% load staticfiles %}

{% block content %}

<!-- Header -->
<header class="header" id="top">
  <div class="text-vertical-center">
    <h1>Know Your Ship</h1>
    <h3>Find ships museum all over the world!</h3>
    <br>
    <a href="{% url 'core:ship_search' %}" class="btn btn-dark btn-lg js-scroll-trigger">Find More</a>
  </div>
</header>

<hr>

<div id="map"></div>

<section id="portfolio" class="portfolio">
    <script>
        var ship_name = '{{ ship.ship }}';
        var url = '{{ ship.url }}';
        var search = '{{ ship.ship }}%2C+{{ ship.city }}';
        var country = '{{ ship.country }}';
        var latitude = {{ ship.coordinates.latitude }};
        var longitude = {{ ship.coordinates.longitude }};
        search = search.replace(/\s+/g, '+');
    </script>
   {% if ship.coordinates.latitude and ship.coordinates.longitude %}
  <script src="{% static 'core/js/ship_details_map.js' %}"></script>
   {% else %}
   <script src="{% static 'core/js/ship_search_map.js' %}"></script>
   {% endif %}
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-md-5">
            <div class="portfolio-item">
                <div class="card border-dark">
                      <div class="card-body text-dark">
                          <img class="card-img-top" src="{{ ship.ship_image.image.url }}" onerror="ImgError(this)">
                      </div>
                    <div class="card-footer">
                        {% if ship.ship_image.image.url %}
                          <small class="text-muted">(Author: {{ ship.ship_image.artist }})</small>
                          <small class="text-muted"><a href="{{ ship.ship_image.license_url}}">({{ ship.ship_image.license_short_name }})</a></small>
                          <small class="text-muted"><a href="{{ ship.ship_image.source_url}}">({{ ship.ship_image.title }})</a></small><br>
                          <small class="text-muted">{{ ship.ship_image.image_description }}</small>
                          {% else %}
                          <div id="ship_img"></div>
                          {% endif %}
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="portfolio-item">
                <div class="card border-dark">
                      <div class="card-body text-dark">
                          <!-- Ship content -->
                          <div class="card-title">
                              <h1>
                                  <span class="card-title"><strong>{{ ship.ship }}</strong></span>
                                  <button type="button" class="btn btn-primary btn-sm float-right">
                                      View{{ total_views|pluralize}} <span class="badge badge-light">{{ total_views }}</span>
                                      <span class="sr-only">total views</span>
                                  </button>
                              </h1>
                          </div>
                          {% if ship.details.content|length > 200 %}
                          <div class="truncate">
                            <p class="card-text">{{ ship.details.content|linebreaks }}</p>
                          </div>
                          <br>
                          <a href="{{ ship.url }}"><img alt="Wikipedia_link" src="{% static 'core/img/180px-Wp_logo_unified_horiz_rgb.png' %}"></a>
                              {% elif ship.details.content|length > 100 %}
                            <p class="card-text">{{ ship.details.content }}</p><br>
                                <small>Would you like to see some more details?</small><br>
                                <small>If you would like to contribute please go to <a href="{{ ship.url }}">Wikipedia page.</a></small>

                          {% elif ship.details.content|length < 10 %}
                            <p class="card-text">{{ ship.details.content }}</p>
                                <p>Would you like to see some more details?</p>
                                <p>If you would like to contribute please go to <a href="{{ ship.url }}">Wikipedia page.</a></p>
                          {% endif %}
                      </div>
                </div>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
        <div id="share" class="jssocials">
            <div class="jssocials-shares">
            </div>
        </div>

     <div class="card border-dark" id="comments">
         <div class="card-body text-dark">
             <!-- Comments Form -->
            {% with comments.count as total_comments %}
                <div class="container-fluid">
                    <div class="row">
                         {% for message in messages %}
                             <div class="alert {{ message.tags }}">
                             <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                             <strong>{{ message }}</strong>
                             </div>
                         {% endfor %}

                    </div>
                </div>
                <h2>
                {{ total_comments }} comment{{ total_comments|pluralize }}
                </h2>
            {% endwith %}
              <div class="card my-4">
                  <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form action="." method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="form-row">
                                     <div class="form-group col-md-3">
                                        {{ comment_form.name }}
                                     </div>
                                     <div class="form-group col-md-3">
                                        {{ comment_form.email }}
                                     </div>
                                </div>
                                     {{ comment_form.body }}
                            </div>

                        <button type="submit" class="btn btn-primary">Add comment</button>
                    </form>

                </div>
              </div>

          <!-- Comment with nested comments -->
             {% for comment in comments %}
          <div class="media mb-4">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
            </span>
            <div class="media-body">
                <h5 class="mt-0">{{ comment.name }} | <small class="text-muted">{{ comment.created }}</small></h5>
               {{ comment.body|linebreaks }}
                {% with comment.replies.all.count as total_replays %}
                <p>{% if total_replays > 0 %}{{ total_replays }} Comment{{ total_replays|pluralize }} | {% endif %}<a class="comment-replay-btn" href="#">Replay</a></p>
                {% endwith %}
                <div class="comment-replay" style="display:none">
                     {% for replay in comment.replies.all %}
                      <div class="media mt-4">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                        </span>
                        <div class="media-body">
                            <h5 class="mt-0">{{ replay.name }} | <small class="text-muted">{{ replay.created }}</small></h5>
                            {{ replay.body }}
                        </div>
                      </div>
                    <hr>
                    {% endfor %}
                        <form action="." method="post">
                            {% csrf_token %}
                            <div class="form-group col-md-4">
                                <div class="form-row">
                                     <div class="form-group col-md-6">
                                        {{ comment_form.name }}
                                     </div>
                                     <div class="form-group col-md-6">
                                        {{ comment_form.email }}
                                     </div>
                                </div>
                                {{ comment_form.body }}
                            </div>
                            <div class="form-group col-md-4">

                                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                <button class="btn btn-primary" type="submit">Replay</button>
                            </div>

                        </form>

                </div>
            </div>
          </div>
             {% empty %}
                <h4>There are no comments yet.</h4>
            {% endfor %}
        </div>

  <!-- /.container -->
    {% for message in messages %}
        {% if message.tags %}
            <script>
                window.onload = function(){
                 $('html, body').animate({
                          scrollTop: $("#comments").offset().top
                        }, 1000, "easeInOutExpo");
                };
            </script>
        {% endif %}
        {% empty %}
        <script src="{% static 'core/js/map_autoscroll.js' %}"></script>
    {% endfor %}

    <script>
        function ImgError(source){
            source.src = "http://www.wikihow.com/images/4/4d/Draw-a-Ship-Step-20-Version-2.jpg";
            source.onerror = "";
            var msg = 'Nice one? kinda... Would you like to add proper ship picture? Just visit <a href="{{ ship.url }}">Wikipedia page</a> and add some images!';
            document.getElementById('ship_img').innerHTML = msg;
            return true;
        }
    </script>



</section>

{% endblock %}
