{% extends "core/index.html" %}
{% load staticfiles %}

{% block search %}
     <!-- Header-Search -->
    <header class="header" id="top">
      <div class="text-vertical-center">
        <h1>Know Your Ship</h1>
        <h3>Find ships museum all over the world!</h3>
        <div class="featurette">
           <div class="featurette-inner text-center">
              <form action="" method="get" role="form" class="search has-button">
                <div class="form-group">
                    {{ form }}
                    <input id="sub" type="submit" value="Search" class="btn btn-lg btn-warning" type="button">
                </div>
                 <!-- /form-group -->
              </form>
              <!-- /.max-width on this form -->
           </div>
           <!-- /.featurette-inner (display:table-cell) -->
        </div>
      </div>

    </header>

    <hr>
    <!-- Map -->
    <section id="map" class="map">
            <script>
                 var locations = [
                    {% for result in results %}
                        {% with ship=result.object %}
                            {% if ship.coordinates.latitude and ship.coordinates.longitude %}

                            ['<a href="{{ ship.get_absolute_url }}">{{ ship.ship }}</a>',
                            {{ ship.coordinates.latitude }}, {{ ship.coordinates.longitude }},
                            {{ forloop.counter }}],

                            {% else %}

                         {% endif %}
                        {% endwith %}
                    {% empty %}
                        <div id="map"></div>
                    {% endfor %}
                    ];
            </script>
                <div id="map"></div>
                {% if "query" in request.GET %}
                    <script src="{% static 'core/js/ship_search_map.js' %}"></script>
                {% else %}
                    <script src="{% static 'core/js/geolocation_map.js' %}"></script>
                {% endif %}
    </section>
    {% if "query" in request.GET %}
    {% else %}
    <hr>
    {% endif %}
    <!-- About -->
    {% if "query" in request.GET %}
    <section id="about" class="about">
      <div class="container text-center">
        {% if results  %}
        <h2>Select one of the vessel located on the map  </h2>
          <p class="lead">Simply go to the map and select your ship or choose from the list:</p>
          <ul class="group-list">
          {% for result in results %}
              {% with ship=result.object %}
                <ul><a href="{{ ship.get_absolute_url }}">{{ ship.ship }}</a></ul>
              {% endwith %}
          {% endfor %}
          </ul>
        {% else %}
          <h2>Some thing went wrong! Try again or search by country</h2>
        {% endif %}
      </div>
      <!-- /.container -->
      <script src="{% static 'core/js/map_autoscroll.js' %}"></script>
    </section>
    {% endif %}
{% endblock %}