{% extends "core/index.html" %}

{% block content %}
    <h1>Search</h1>
    <p>Mam cos?</p>
    {% for r in results %}
        {{ results.ship }}
    {% endfor %}

    <p> {{ results }}</p>
    <p>{{ ships.ship }}</p>
    <form method="GET" action="">
        <input type="text" name="query" placeholder="Search Ship">
        <input type="submit" value="Search">

    </form>
    <br>

    </form>
    <br>
    <form action="" method="get">

        {{ form }}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}

